In [1]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns

In [36]:
print(os.getcwd())

/Users/solkim/repos/abm_cpe_model/result/calibration

In [39]:
run_data = pd.read_csv('[2022.8.5]calibateBeta3.csv')
run_data.head()

,Unnamed: 0,prob_transmission,Run,Number_of_Patients_sick,prob_patient_sick,prob_new_patient,isolation_factor,cleaningDay,isolate_sick,isolation_time,icu_hcw_wash_rate,outside_hcw_wash_rate,height,width
0,0,0.00001,0,1,0.01,0.003,0.75,360,True,14,0.9,0.9,11,32
1,1,0.00001,1,0,0.01,0.003,0.75,360,True,14,0.9,0.9,11,32
2,2,0.00001,2,3,0.01,0.003,0.75,360,True,14,0.9,0.9,11,32
3,3,0.00001,3,2,0.01,0.003,0.75,360,True,14,0.9,0.9,11,32
4,4,0.00001,4,2,0.01,0.003,0.75,360,True,14,0.9,0.9,11,32

In [40]:
data_mean = run_data.groupby(["prob_transmission"])['Number_of_Patients_sick'].mean()
print(data_mean)
print('\n\n')
data_mean = data_mean.reset_index()
print(data_mean['Number_of_Patients_sick'])
mean_patients_sick = data_mean['Number_of_Patients_sick'] #The avg number for the iterations

prob_transmission
0.00001    2.42
0.00002    2.62
0.00003    2.18
0.00004    2.38
0.00005    2.36
0.00006    2.40
0.00007    2.24
0.00008    2.54
0.00009    2.68
Name: Number_of_Patients_sick, dtype: float64



0    2.42
1    2.62
2    2.18
3    2.38
4    2.36
5    2.40
6    2.24
7    2.54
8    2.68
Name: Number_of_Patients_sick, dtype: float64

In [43]:
data_mean.head(10)

   prob_transmission  Number_of_Patients_sick
0            0.00001                     2.42
1            0.00002                     2.62
2            0.00003                     2.18
3            0.00004                     2.38
4            0.00005                     2.36
5            0.00006                     2.40
6            0.00007                     2.24
7            0.00008                     2.54
8            0.00009                     2.68